<div style="width:100dvw; height:100dvh; display:flex; justify-content:center; align-items:center; flex-direction:column;" data-controller="redirect">
  <%= image_tag 'OB-SVG.svg', alt:'OBLaser Logo' ,style:"width:300px; margin:auto"%>
  <%# <div data-controller="loading" class="loading-container">
    <div class="loading-bar"></div>
  </div> %>
</div>
