  <!-- Hero Section -->
  <header class="hero">
    <%= image_tag 'OB-SVG.svg', style:"width:500px; margin:auto"%>
      <h1>Macchine Laser Professionali per Depilazione</h1>
      <h5>Noleggia tecnologia di alta qualità per il tuo business di bellezza.</h5>
      <a href="#contact" class="btn">Richiedi un Preventivo</a>
  </header>

  <!-- About Section
  <section class="about">
      <h2>Perché Scegliere le Nostre Macchine Laser?</h2>
      <p>Laser a Diodo DWL-2 Doppia onda combinata 808 + 1064 con sistema di super-raffreddamento "Zaffiro Dual-Chill-Tip"</p>
      <div class="features">
          <div class="feature">
              <%= image_tag "Macchina1.png", alt:"Macchina Laser"%>
              <p>Veloce ed indolore</p>
          </div>
          <div class="feature">
              <%= image_tag "Macchina2.png", alt:"Macchina Laser"%>
              <p>Manipolo leggero</p>
          </div>
          <div class="feature">
              <%= image_tag "Macchina3.png", alt:"Macchina Laser"%>
              <p>Facile da utilizzare</p>
          </div>
      </div>
  </section>

  <!-- Rental Plans -->
  <%# <section class="pricing">
      <h2>Noleggio gratutio per il tuo centro</h2>
      <div class="plans">
          <div class="plan">
              <h3>Basic</h3>
              <p>Weekly / Monthly</p>
              <span>€XX per month</span>
          </div>
          <div class="plan">
              <h3>Standard</h3>
              <p>3-6 Months</p>
              <span>€XX per month</span>
          </div>
          <div class="plan">
              <h3>Premium</h3>
              <p>Long-Term Custom Plans</p>
              <span>Contact Us</span>
          </div>
      </div>
  </section> %>

  <!-- Testimonials -->
  <section class="testimonials">
      <h2>Cosa Dicono i Nostri Clienti</h2>
      <blockquote>
          “Servizio straordinario e macchine di alta qualità! I miei clienti adorano i risultati.”
      </blockquote>
      <p>- Beauty Salon </p>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="contact">
      <h2>Contattaci</h2>
      <form>
          <input type="text" placeholder="Nome e Cognome" required>
          <input type="email" placeholder="La tua Email" required>
          <input type="text" placeholder="Nome dell'Impresa">
          <textarea placeholder="Il tuo Messaggio" required></textarea>
          <button type="submit">Invia Messaggio</button>
      </form>
  </section>

  <!-- Footer -->
  <footer>
      <p>&copy; 2025 OBLaser. Tutti i diritti riservati.</p>
  </footer>
