<p>Buongiorno Nina,</p>

<p>Avete ricevuto un nuovo messaggio dal vostro sito web :</p>

<ul>
  <li><strong>Nome e Cognome :</strong> <%= @name %></li>
  <li><strong>Email :</strong> <%= @email %></li>
</ul>

<p><strong>Messaggio :</strong></p>
<p><%= @message %></p>

<p>Cordialmente,<br>
Il vostro sito</p>
