.hero {
  color: white;
  text-align: center;
  margin: auto ;
  padding: 100px 20px;
  padding-top: 50px;
  width: 100%;
  height: 100dvh;
  background-image: url('legs.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  // background: rgba(255, 255, 255, 0.5); /* Adjust opacity */
  z-index: 0;

  .hero-overlay {
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.221);
  }

  .text{
    z-index: 2;
    margin-top: 40px;
    // background-color: rgba(255, 255, 255, 0.221);
  }

  img {
    z-index: 2;
    width: 31rem;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    // background-color: rgba(255, 255, 255, 0.221);
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  /* @media (max-width: 768px) {
    padding: 50px 20px;
  } */

  .btn {
    z-index: 2;
    background: #FEBDC6;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    // margin-top: 40px;
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        background: #ff4d4d;
    }

    @media (max-width: 768px) {
      padding: 10px 20px;
      font-size: 20px;
      top: 350px;
    }
  }
}

// .hero::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(255, 255, 255, 0.5); /* Adjust opacity */
// }
