nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:rgb(255, 226, 226);
  padding: 20px;
  z-index: 10;
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
    &:hover {
      color: #ff4d4d;
    }

    @media (max-width: 768px) {
      display: none;

    }
  }
}

// This code below is for the gradual transition of the fade out for the navbar
#navbar {
  transition: opacity 0.5s ease-in-out; // Smooth fading effect
  opacity: 1; // Fully visible by default
}
